.player {
    overflow: hidden;
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 32px;
    justify-content: space-between;
    background-color: rgb(218, 218, 227, 0.8);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    img {
        height: 55px;
        width: 55px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-activ {
    background-color: blue !important;
}

@media (max-width: 340px) {
    .player {
        width: 150px;
    }
}