.player {
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 32px;
    background-color: rgb(218, 218, 227, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 24px;
        margin-left: 16px;
    }
}

.player-activ {
    background-color: blue !important;
}